@media (min-width: 1200px) {
  .new-products .wrapper {
    padding-left: 100px;
  }
}

@media (min-width: 1400px) {
  .new-products .wrapper {
    padding-left: 0px;
  }
}
.swiper-slide {
  min-height: 400px;
}

.swiper-slide .product:nth-of-type(2) {
  margin-top: 32px;
}

@media (max-width: 992px) {
  .swiper-slide .product:nth-of-type(2) {
    margin-top: 1rem;
  }
}

.product {
  flex: 1;
  max-width: 355px;
}

.product-image {
  position: relative;
  margin-bottom: 10px;
}

.product-info {
  display: flex;
  justify-content: space-between;
}

.product-title a {
  display: inline-block;
  max-width: 200px;
  font-size: 16px;
  color: #616262;
  opacity: 0.8;
  font-family: "Philosopher", sans-serif;
}

.product-price h4 {
  color: #000;
  font-weight: 700;
  opacity: 1;
}
